<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxy.practicaltool">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <!--拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 获取logcat日志 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.upload_resources.UploadResourcesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.upload_resources.SubordinateUnitsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.upload_resources.SubordinatePinZhongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.common.ActivitySimpleEditLines"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.common.ActivitySimpleEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.upload_resources.SubordinateAttributeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.upload_resources.LocalCacheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.release_case.ReleaseCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.release_case.CaseTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.upload_resources.AddUnitsTypeOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.upload_resources.AddUnitsTypeTwoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>